html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
  
#editor{
  width: 45%;
  height: 100%;
  float: left;
}

#editor2{
  width: 54%;
  height: 50%;
  float: right;
}
  
#editor3{
  width: 54%;
  height: 50%;
  float: right;
}